@font-face {
  font-family: Montserrat;
  src: url('fonts/montserrat-regular.woff') format('woff'),
    url('fonts/montserrat-regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/montserrat-bold.woff') format('woff'),
    url('fonts/montserrat-bold.woff2') format('woff2');
  font-weight: 700;
}